<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h3>response ex01파일</h3>
    <a href="ex02">모델전달자</a> <br>
    <a href="ex03">모델앤뷰객체</a> <br>
    <a href="ex04?id=a123">모델어노테이션</a> <br>

    <form action="ex05" method="post">
        id: <input type="text" name="id"> <br>
        pw: <input type="password" name="pw"> <br>
        <input type="submit" value="확인">
    </form>

</body>
</html>