<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coding404.myweb.topic.TopicMapper">

    <insert id="topicReg" parameterType="TopicVO">
        INSERT INTO TOPIC(TOPIC_ID,
                          TOPIC_WRITER,
                          TOPIC_REGDATE,
                          TOPIC_TITLE,
                          TOPIC_CONTENT)
        VALUES (#{topicId},
                #{topicWriter},
                #{topicRegdate},
                #{topicTitle},
                #{topicContent})
    </insert>


    <update id="topicModify" parameterType="TopicVO">
        UPDATE topic
        SET topic_title = #{topicTitle},
            topic_content = #{topicContent}
        WHERE topic_id = #{topicId}
    </update>

    <select id="getList" resultType="TopicVO">
        SELECT *
        FROM TOPIC
        WHERE TOPIC_WRITER = #{topicWriter}
        ORDER BY TOPIC_ID DESC
        LIMIT #{cri.pageStart}, #{cri.amount}
    </select>

    <select id="getTotal" resultType="int">
        SELECT COUNT(*)
        FROM TOPIC
        WHERE TOPIC_WRITER = #{topicWriter}
    </select>

    <update id="topicUpdate" parameterType="TopicVO">
        UPDATE TOPIC
        SET TOPIC_REGDATE = #{topicRegdate},
            TOPIC_WRITER = #{topicWriter},
            TOPIC_TITLE = #{topicTitle},
            TOPIC_CONTENT = #{topicContent}
        WHERE TOPIC_ID = #{topicId}
    </update>

    <delete id="topicDelete" parameterType="long">
        DELETE FROM TOPIC
        WHERE TOPIC_ID = #{topicId}
    </delete>

</mapper>